button{

    background-color: #ab3550;
  border: 1px solid #ab3550;
  box-sizing: border-box;
  color: white !important;
  margin-left: 10px;
  width: 100px;
  font-size: 25px;
  border-radius: 20px;
  height: 60px;
  }
  
  button:hover{
    background-color:transparent;
    color: #ab3550 !important;
    transition: .2s ease-in-out;
  }
