.fixed-sidebar{
  background-color:#ac2947 ;
  width: 212px;
  height: 100vh;

}

.fixed-sidebar h3{
  color:white;
  font-weight: bold;
  font-style: italic;
}

.navSide{
  list-style-type: none;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px; 
  background-color: #fff; 
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}






.nav-link{
    color: white;
  text-decoration: none;
  font-size: 20px;
  line-height: 82px;
  overflow: hidden;
}

.nav-link:hover{
  color: white !important;
}
.nav-link:active{
  background-color: white;
}

